
.App {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: auto;
  background-image: linear-gradient(to bottom right, teal, black);
}

.header {
  padding: 1rem;
}

.nav-bar {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 40vw;
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    a {
      text-decoration: none;
      font-weight: 700;
      color: white;
      padding: 20%;
      margin: 0%;
      border-radius: 10px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    a:hover  {
      background-color: cadetblue;
    }
  
  }
}

.routes {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.welcome-block {
  box-sizing: border-box;
  height: 20rem;
  width: auto;
  padding: 1rem;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
  p {
    text-align: center;
    align-content: center;
  }
}

.about-block {
  box-sizing: border-box;
  height: 20rem;
  width: auto;
  padding: 1rem;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
  p {
    text-align: center;
    align-content: center;
  }
}

.connect-block {
  box-sizing: border-box;
  height: 20rem;
  width: auto;
  padding: 1rem;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
  p {
    text-align: center;
    align-content: center;
  }
}

.link-block {
  box-sizing: border-box;
  height: 20rem;
  width: auto;
  padding: 1rem;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
  p {
    text-align: center;
    align-content: center;
  }
}